@import "tailwindcss";


body {
    @apply bg-gray-100;
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-6px) scale(0.995);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.animate-slideDown {
    animation: slideDown 160ms ease-out;
}


.rotate-transform-fix {
    transform-origin: center;
}